.processing-time-box{
  margin-left: 50px;
  width: 720px;
  display: flex;
  justify-content: space-between;

  & .box{
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
}

.form-item-box{
  display: flex;
  justify-content: space-between;

  & .el-input, & .el-select{
    width: 400px;
  }
}

.btn{
  display: flex;
  justify-content: center;
}

section.ctn{
  & > .btnTop{
    padding-bottom: 10px;
    text-align: left;
  }
  & > .page{
    text-align: right;
    padding: 20px 30px;
  }
}